<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.42" targetFramework="net452" />
  <package id="DynamicPDF" version="8.0.0.0" targetFramework="net452" />
  <package id="FluentValidation-Signed" version="6.2.1.0" targetFramework="net452" />
  <package id="MediatR" version="2.1.0-beta-19" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.Azure.DocumentDB" version="1.5.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="RestSharpSigned" version="105.2.3" targetFramework="net452" />
  <package id="Serilog" version="2.0.0" targetFramework="net452" />
  <package id="Serilog.Sinks.File" version="2.0.0" targetFramework="net452" />
  <package id="Serilog.Sinks.RollingFile" version="2.0.0" targetFramework="net452" />
  <package id="structuremap" version="4.2.0.402" targetFramework="net452" />
</packages>